---
import CityCurrentRestriction from '../components/CityCurrentRestriction.astro';
import { CityRestrictions } from '../components/CityRestrictions';
import Divider from '../components/shared/Divider.astro';
import Markdown from '../components/shared/Markdown.astro';
import Seo from '../components/shared/Seo.astro';
import type { City } from '../core/city.interface';
import Layout from '../layouts/Layout.astro';
import { CityService } from './../core/city.service';

const cityName = decodeURIComponent(Astro.params['city']!);

const city: City | null = await CityService.getByName(cityName);

if (city === null) {
  return Astro.redirect('/');
}

const meta = {
  title: `Pico y placa en colombia - ${city?.name} | COLPYP`,
  description: `Consulta las restricciones de Pico y Placa en ${city.name}. Infórmate sobre los horarios y días de restricción para mejorar la movilidad y reducir la congestión vehicular en las principales vías de la ciudad.`,
};

export const prerender = false;
---

<Layout>
  <Seo title={meta.title} description={meta.description} />

  <section class="mx-auto">
    <div class="text-center flex flex-col gap-4">
      <h1 class="text-4xl font-bold capitalize">{city?.name}</h1>

      <CityCurrentRestriction city={city.name} server:defer>
        <div slot="fallback" class="min-h-30 flex items-center justify-center">
          <p>Cargando...</p>
        </div>
      </CityCurrentRestriction>

      <CityRestrictions city={city.name} client:load />
    </div>
    <div class="my-10">
      <Divider />
    </div>
    <Markdown content={city?.information!} />
  </section>
</Layout>
